<div id="signup-page">
    <div class="signup-container">
        <div class="signup-section">
            <div class="signup-details">
                <h1>Create Account</h1>
        <div class="input-box">
          <p class="input-head">Email</p>
          <input type="text" placeholder="Enter your Email" />
        </div>
        <div class="input-box">
            <p class="input-head">Create Password</p>
            <input type="password" placeholder="Enter your Password" />
          </div>
        <div class="input-box">
            <p class="input-head">Confirm Password</p>
            <input type="password" placeholder="Enter your Password" />
          </div>
          <div class="input-button">
            <input type="button" value="SIGNUP" />
          </div>
          <h5>OR</h5>
          <div class="social-media">
            <img src="assets\image\google.svg" alt="a" />
            <img src="assets\image\facebook.svg" alt="b" />
            <img src="assets\image\linkedin.svg" alt="c" />
          </div>
          <div class="input-sign-up">
            <p>Already have account?   <span><a routerLink="/login">LOGIN</a></span></p>
          </div>
        </div>
        <div class="signup-img">
            <img src="assets\image\img2.jpg" alt="log-1" />
          </div>
    </div>
</div>
</div>
