<div id="login-page">
    <div class="login-container">
      <div class="login-section">
        <div class="login-img">
          <img src="assets\image\img1.jpg" alt="log-1" />
        </div>
        <div class="login-details">
          <h1>LOGIN</h1>
          <div class="input-box">
            <p class="input-head">Email</p>
            <input type="text" placeholder="Enter your Email" />
          </div>
          <div class="input-box">
            <p class="input-head">Password</p>
            <input type="password" placeholder="Enter your Password" />
          </div>
          <div class="input-check">
            <input type="checkbox">Remember Me?
          </div>
          <div class="input-button">
            <input type="button" value="LOGIN" />
          </div>
          <div class="input-forget">
            <p class="forget">Forget Password?</p>
          </div>
          <h5>OR</h5>
          <div class="social-media">
            <img src="assets\image\google.svg" alt="a" />
            <img src="assets\image\facebook.svg" alt="b" />
            <img src="assets\image\linkedin.svg" alt="c" />
          </div>
          <div class="input-sign-up">
            <p>Don't have account? <span><a routerLink="/signin">Sign Up Free</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
